@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 991px) {

}
@media screen and (max-width: 768px) {
    #osvit-gallery,
    #osvit-counters{
        clip-path: polygon(0 1%, 100% 0, 100% 99%, 0 100%);
    }

    a.animated-button:link {
        width: 35%;
        font-size: xx-small;
    }

    .btn-submit-full{
        width: auto;
    }
}
@media screen and (max-width: 680px) {

}
@media screen and (max-width: 640px) {

}
@media screen and (max-width: 465px) {
    #back-to-top{
        bottom: 20px;
        right: 20px;
    }

    a.animated-button:link {
        width: 55%;
        font-size: xx-small;
    }

}
@media all and (min-width: 1280px) {
    img.thumbnail {
        height: 200px
    }
}

@media all and (min-width: 1200px){
    .fb-page,
    .yt-page{
        max-width: 75%;
    }
}
@media all and (min-width: 1324px){
    .fb-page,
    .yt-page{
        max-width: 100%;
    }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    img.thumbnail {
        height: 175px
    }

}
@media all and (min-width: 768px) and (max-width: 1024px) {
    img.thumbnail {
        height: 155px
    }
}
@media all and (min-width: 768px) {
    div.img-identical > a.osvit-project-item > img.img-gallery-identical {
        width: 400px;
        height: 200px;
    }
}
@media screen and (max-width: 900px) {

}
@media all and (max-width: 480px) {

}

.content-error{
    margin: 5em auto;
}