@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.edge--bottom {
  position: relative;
  z-index: 1;
}
.edge--bottom:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom:after {
  bottom: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
}

.edge--bottom--reverse {
  position: relative;
  z-index: 1;
}
.edge--bottom--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom--reverse:after {
  bottom: 0;
  transform: skewY(1.5deg);
  transform-origin: 0 100%;
}

.edge--top {
  position: relative;
  z-index: 1;
}
.edge--top:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top:before {
  top: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
}

.edge--top--reverse {
  position: relative;
  z-index: 1;
}
.edge--top--reverse:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top--reverse:before {
  top: 0;
  transform: skewY(-1.5deg);
  transform-origin: 0 0;
}

.edge--both {
  position: relative;
  z-index: 1;
}
.edge--both:before, .edge--both:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--both:before {
  top: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
}
.edge--both:after {
  bottom: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
}

.edge--both--reverse {
  position: relative;
  z-index: 1;
}
.edge--both--reverse:before, .edge--both--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--both--reverse:before {
  top: 0;
  transform: skewY(-1.5deg);
  transform-origin: 0 0;
}
.edge--both--reverse:after {
  bottom: 0;
  transform: skewY(1.5deg);
  transform-origin: 0 0;
}

#osvit-header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
  margin-top: 40px;
}
img.logo-navbar{
  margin: 3px auto;
}
.osvit-text i.feature-icon{
  color: rgba(196, 60, 70, 1);
  text-shadow: 0 5px 2px rgba(0, 0, 0, .1);
  -webkit-text-shadow: 0 5px 2px rgba(0, 0, 0, .1);
  -o-text-shadow: 0 5px 2px rgba(0, 0, 0, .1)
}
@media screen and (max-width: 768px) {
  #osvit-header {
    margin-top: 0;
    background: rgba(0, 0, 0, .75);
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  }
  #osvit-header .navbar-brand {
    color: rgba(196, 60, 70, 1);
  }
  #osvit-header #navbar li a {
    color: rgba(196, 60, 70, .25);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #osvit-header #navbar li a:hover {
    color: rgba(196, 60, 70, 1) !important;
  }
  #osvit-header #navbar li a span:before {
    background: transparent !important;
  }
  #osvit-header #navbar li.active a {
    background: transparent;
    background: none;
    color: rgba(196, 60, 70, 1) !important;
  }
  #osvit-header #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
#osvit-header .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}
#osvit-header #navbar li a {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  font-size: 19px;
  font-weight: 300;
}
#osvit-header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}
#osvit-header #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#osvit-header #navbar li a:hover {
  color: #fff;
}
#osvit-header #navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#osvit-header #navbar li.active a {
  background: transparent;
  background: none;
  color: #fff;
}
#osvit-header #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#osvit-header .navbar-brand {
  float: left;
  display: block;
  font-size: 30px;
  font-weight: 700;
  padding-left: 0;
  color: rgba(196, 60, 70, 1);
}
#osvit-header.navbar-fixed-top {
  position: fixed !important;
  background: #fff;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  top: 0;
}
#osvit-header.navbar-fixed-top .navbar-brand {
  color: rgba(196, 60, 70, 1);
}
#osvit-header.navbar-fixed-top #navbar li a {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#osvit-header.navbar-fixed-top #navbar li a:hover {
  color: rgba(196, 60, 70, 1);
}
#osvit-header.navbar-fixed-top #navbar li.active a {
  background: transparent;
  background: none;
  color: rgba(196, 60, 70, 1);
}
#osvit-header.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: rgba(196, 60, 70, 1);
}
#osvit-header .navbar-default {
  border: transparent;
  background: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
@media screen and (max-width: 768px) {
  #osvit-header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
#osvit-header .navbar-default .brand-slogan {
  margin: 28px 0 0 15px;
  float: left;
  letter-spacing: 2px;
  color: #adadad;
}
#osvit-header .navbar-default .brand-slogan em {
  color: rgba(196, 60, 70, 1);
  font-style: normal;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border-color: #212121;
}
#osvit-header a {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

#osvit-home {
  background-color: transparent;
  background-size: cover;
  position: relative;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
#osvit-home, #osvit-home .text-wrap {
  height: 900px;
}
#osvit-home .text-wrap {
  display: table;
  width: 100%;
  position: relative;
  z-index: 4;
}
#osvit-home .text-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#osvit-home .text-inner a {
  color: white;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#osvit-home .text-inner a:hover, #osvit-home .text-inner a:active, #osvit-home .text-inner a:focus {
  text-decoration: none;
  color: white;
  border-bottom: 1px dashed white;
}
#osvit-home .text-inner h1 {
  font-size: 50px;
  color: white;
  margin: 0 0 20px 0;
}
#osvit-home .text-inner h2 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

.slant {
  position: absolute;
  transform: rotate(-1.45deg);
  -ms-transform: rotate(-1.45deg);
  -webkit-transform: rotate(-1.45deg);
  -o-transform: rotate(-1.45deg);
  -moz-transform: rotate(-1.45deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  bottom: 0;
  margin-bottom: -35px;
  padding: 0;
  width: 101%;
}

#osvit-intro {
  position: relative;
  bottom: 0;
  margin-top: -150px;
  z-index: 10;
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  #osvit-intro {
    padding-bottom: 3em;
  }
}
#osvit-intro > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}
#osvit-intro .osvit-block {
  width: 33.33%;
  float: left;
  text-align: center;
  font-size: 16px;
  min-height: 300px;
  vertical-align: middle;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  z-index: 7;
  flex-grow: 1;
  background-size: cover;
  position: relative;
  backgroun-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  #osvit-intro .osvit-block {
    width: 100%;
  }
}
#osvit-intro .osvit-block > .overlay-darker {
  z-index: 8;
  background: rgba(0, 0, 0, .75);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#osvit-intro .osvit-block > .overlay {
  background: #fff;
  opacity: 1;
  z-index: 9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#osvit-intro .osvit-block > .osvit-text {
  position: relative;
  z-index: 10;
}
#osvit-intro .osvit-block > .osvit-text .osvit-intro-icon {
  font-size: 50px;
  color: rgba(196, 60, 70, 1);
  margin-bottom: 30px;
  display: block;
}
#osvit-intro .osvit-block h2 {
  font-size: 24px;
  font-weight: 400;
}
#osvit-intro .osvit-block:hover > .overlay, #osvit-intro .osvit-block:focus > .overlay {
  opacity: 0;
  z-index: 9;
}
#osvit-intro .osvit-block:hover > .osvit-text, #osvit-intro .osvit-block:focus > .osvit-text,
#osvit-intro .osvit-block:hover > .osvit-text > a.victoria-black > i,
#osvit-intro .osvit-block:focus > .osvit-text > a.victoria-black > i{
  color: #fff;
}
#osvit-intro .osvit-block:hover > .osvit-text .osvit-intro-icon, #osvit-intro .osvit-block:focus > .osvit-text .osvit-intro-icon {
  color: #fff;
}
#osvit-intro .osvit-block:hover h2, #osvit-intro .osvit-block:focus h2 {
  color: #fff;
}
#osvit-intro .osvit-block:hover .btn, #osvit-intro .osvit-block:focus .btn {
  border: 2px solid #fff !important;
  background: transparent;
}
#osvit-intro .osvit-block:hover .btn:hover, #osvit-intro .osvit-block:focus .btn:hover {
  background: rgba(196, 60, 70, 1)) !important;
  border: 2px solid rgba(196, 60, 70, 1) !important;
}
.watch-video {
  text-align: center;
  width: 100%;
  display: block;
  float: left;
}
.watch-video span {
  display: block;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}
.watch-video .btn-video {
  display: block;
  font-size: 60px;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  border: 2px dashed rgba(196, 60, 70, 1);
  line-height: 0px;
  display: table;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.watch-video .btn-video:hover, .watch-video .btn-video:focus, .watch-video .btn-video:active {
  text-decoration: none;
}
.watch-video .btn-video i {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  right: -9px;
  color: rgba(0, 0, 0, 1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.watch-video .btn-video:hover i, .watch-video .btn-video:focus i {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

#osvit-counters, #osvit-gallery, #osvit-contact #osvit-about, #osvit-locations {
  padding: 7em 0;
}
@media screen and (max-width: 768px) {
  #osvit-counters, #osvit-gallery, #osvit-contact #osvit-about, #osvit-locations {
    padding: 4em 0;
  }
}

#location-details table.table-bordered{
  border: 1px solid rgba(194, 194, 184, .25);
  margin-top:20px;
}
#location-details table.table-bordered > thead > tr > th{
  border: 1px solid rgba(194, 194, 184, .25);
}
#location-details table.table-bordered > tbody > tr > td{
  border: 1px solid rgba(194, 194, 184, .25);
}

#location-details table.table tr:nth-child(odd){
  background-color: rgba(194, 194, 184, .05);
}

#osvit-counters {
  background: #404040;
  overflow: hidden;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  padding: 9em 0 10em 0;
}
#osvit-locations{
  background: #404040;
  overflow: hidden;
  position: relative;
  width: 100%;
  color: #FFFFFF;
  clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);
}
#osvit-locations h2,
#osvit-locations h3{
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  #osvit-counters,
  #osvit-about,
  #osvit-locations{
    padding: 4em 0;
  }
}
#osvit-counters .osvit-overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
}

#osvit-counters:before,
#osvit-about:before{
  top: 0;
  margin-top: -35px;
}
#osvit-counters:after,
#osvit-about:after{
  bottom: 0;
  margin-bottom: -35px;
}
#osvit-counters .section-heading {
  position: relative;
  z-index: 3;
  margin-bottom: 0;
}
#osvit-counters .section-heading h2 {
  color: #fff;
}
#osvit-counters .section-heading h2:after {
  background: rgba(196, 60, 70, 1) ;
}
#osvit-counters .section-heading .subtext h3 {
  color: rgba(255, 255, 255, 0.7) !important;
}
#osvit-counters .osvit-counter {
  position: relative;
  z-index: 3;
  text-align: center;
}
@media screen and (max-width: 992px) {
  #osvit-counters .osvit-counter {
    margin-bottom: 50px;
    float: left;
    width: 100%;
  }
}
#osvit-counters .osvit-counter .osvit-counter-icon,
#osvit-counters .osvit-counter .osvit-counter-number,
#osvit-counters .osvit-counter .osvit-counter-label {
  display: block;
}
#osvit-counters .osvit-counter .osvit-counter-icon {
  font-size: 40px;
  color: rgba(196, 60, 70, 1);
}
#osvit-counters .osvit-counter .osvit-counter-number {
  font-size: 70px;
  color: #fff;
  font-weight: 300;
}
#osvit-counters .osvit-counter .osvit-counter-label {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: 400;
}

#osvit-gallery {
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, .75);
  margin-top: .1em;
  clip-path: polygon(0 4%, 100% 0, 100% 96%, 0 100%);
}
#osvit-gallery a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}
#osvit-gallery a:hover {
  color: white;
  z-index: 2;
}
#osvit-gallery:before {
  top: 0;
  margin-top: -35px;
}
#osvit-gallery:after {
  bottom: 0;
  margin-bottom: -35px;
}
#osvit-gallery .section-heading h2 {
  color: #fff;
}
#osvit-gallery .section-heading h3 {
  color: rgba(255, 255, 255, 0.8);
}
#osvit-gallery .osvit-project-item {
  display: block;
  width: 100%;
  position: relative;
  top: 0;
  background: #fff;
  overflow: hidden;
  z-index: 9;
  margin-bottom: 30px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#osvit-gallery .osvit-project-item img {
  z-index: 8;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#osvit-gallery .osvit-project-item .osvit-text {
  padding: 10px 20px;
}
#osvit-gallery .osvit-project-item .osvit-text h2, #osvit-gallery .osvit-project-item .osvit-text span {
  text-decoration: none !important;
}
#osvit-gallery .osvit-project-item .osvit-text h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
#osvit-gallery .osvit-project-item .osvit-text span {
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 400;
}
#osvit-gallery .osvit-project-item:hover, #osvit-gallery .osvit-project-item:focus {
  -webkit-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  top: -15px;
}
#osvit-gallery .osvit-project-item:hover img, #osvit-gallery .osvit-project-item:focus img {
  opacity: .7;
}
#osvit-gallery .osvit-project-item:hover h2, #osvit-gallery .osvit-project-item:hover span, #osvit-gallery .osvit-project-item:focus h2, #osvit-gallery .osvit-project-item:focus span {
  text-decoration: none !important;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 400;
}
.form-control-inverse{
  color: #FFFFFF;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: rgba(196, 60, 70, .25);
}
textarea.form-control{
  resize: vertical;
  min-height: 75px;
  max-height: 400px;
}

.btn {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn:hover, .btn:active, .btn:focus {
  outline: none;
}

#osvit-contact {
  padding-bottom: 0;
}
#osvit-contact .osvit-contact-info {
  padding: 0;
  margin: 0 0 1.5em 0;
}
#osvit-contact .osvit-contact-info li {
  position: relative;
  padding: 0;
  margin: 0 0 1.5em 0;
  padding-left: 50px;
  list-style: none;
  line-height: 2;
}
#osvit-contact .osvit-contact-info li i {
  position: absolute;
  top: .2em;
  left: 0;
}

.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  clear: both;
}
.section-heading-tiny-pad{
  padding-bottom: .25em;
  margin-bottom: .25em;
}
.section-heading h2 {
  margin: 0 0 30px 0;
  font-size: 50px;
  font-weight: 300;
  color: #444;
  text-transform: uppercase;
  position: relative;
  display: block;
  padding-bottom: 20px;
  line-height: 1.5;
}
.section-heading h2.left-border:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: rgba(196, 60, 70, 1);
  left: 0%;
  margin-left: 0px;
  bottom: 0;
}
.section-heading h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: rgba(196, 60, 70, 1);
  left: 50%;
  margin-left: -40px;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 30px;
  }
}
.section-heading h3 {
  font-weight: 300;
  line-height: 1.5;
  color: #929292;
}
@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 24px !important;
    line-height: 34px;
  }
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.osvit-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.osvit-nav-toggle.active i::before, .osvit-nav-toggle.active i::after {
  background: rgba(196, 60, 70, 1);
}
.osvit-nav-toggle:hover, .osvit-nav-toggle:focus, .osvit-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.osvit-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 3px;
  color: rgba(196, 60, 70, 1);
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: rgba(196, 60, 70, 1);
  transition: all .2s ease-out;
}
.osvit-nav-toggle i::before, .osvit-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: rgba(196, 60, 70, 1);
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.osvit-nav-toggle i::before {
  top: -7px;
}

.osvit-nav-toggle i::after {
  bottom: -7px;
}

.osvit-nav-toggle:hover i::before {
  top: -10px;
}

.osvit-nav-toggle:hover i::after {
  bottom: -10px;
}

.osvit-nav-toggle.active i {
  background: transparent;
}

.osvit-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.osvit-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.osvit-nav-toggle {
  position: absolute;
  top: 2px;
  right: 0px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 25px;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .osvit-nav-toggle {
    display: block;
  }
}

#footer {
  color: #929292;
  padding-top: 1em;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
}
#footer a{
  text-decoration: underline;
  color: rgba(196, 60, 70, 1);
}
#footer a:hover,
#footer a:focus{
  cursor: pointer;
}
#footer .copyright {
  font-size: 16px;
  margin-bottom: 0px;
  padding-bottom: 0;
}
.list-group-item-social{
  display: inline-block;
}
.list-group-item-social:hover,
.list-group-item-social:focus{
  -moz-animation:pulse 1s;
  -webkit-animation:pulse 1s;
  animation:pulse 1s;
  -moz-animation-iteration-count:100;
  -webkit-animation-iteration-count:100;
  animation-iteration-count:100;
}
.social-item-rss i:hover,
.social-item-rss i:focus{
  color: #FF6600;
}
.social-item-facebook i:hover,
.social-item-facebook i:focus{
  color: #3B5998;
}
.social-item-youtube i:hover,
.social-item-youtube i:focus{
  color: #FF0000;
}

hr {
  border: 0;
  height: 0;
  width: 75%;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .3)
}

section#map{
  width: 100%;
  height: 500px;
  border: none;
}
.map-container {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.js .to-animate,
.js .to-animate-2,
.js .single-animate {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.osvit-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.div-small{
  width: 25%;
  height: auto;
  margin: .5em auto;
}

/* Victoria Buttons */
a.animated-button:link, a.animated-button:visited,
a.animated-button-extended:link, a.animated-button-extended:visited{
  position: relative;
  display: block;
  width: 25%;
  margin: 30px auto 0;
  padding: .25em;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .02em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 99;
}
a.animated-button-extended:link, a.animated-button-extended:visited{
  width: 30%;
}
a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #FFF;
  text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%;
}
a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: .65em .3em;
  color: #fff;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
a.animated-button.victoria-two {
  border: 2px solid #D24D57;
}
i.fa-into-black{
  color: #000000;
}
a.animated-button.victoria-two:hover > i.fa-into-black,
a.animated-button.victoria-two:focus > i.fa-into-black{
  color: #FFFFFF;
}
div.osvit-block:hover i.fa-into-black,
div.osvit-block:focus i.fa-into-black{
  color: #FFFFFF;
}
a.animated-button.victoria-two:after {
  background: #D24D57;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

blockquote {
  background: rgba(245, 245, 245, 1);
  border-left: 10px solid rgba(196, 60, 70, 1);
  margin: 1.5em auto;
  padding: 1em 2em;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: rgba(196, 60, 70, 1);
  content: open-quote;
  font-size: 5em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.5em;
}
blockquote p {
  display: inline;
}

blockquote table.table tr:nth-child(even){
  background-color: rgba(194, 194, 184, .25);
}

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background: rgba(196, 60, 70, .5);
  color: #FFFFFF;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: all 0.3s ease-out;
  opacity: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  -o-box-shadow: 0 2px 2px rgba(0, 0, 0, .1)
}
#back-to-top:hover {
  background: rgba(196, 60, 70, 1);
  color: #FFFFFF;
}
#back-to-top.show {
  opacity: 1;
}

.tags {
  margin: 0;
  padding: 0;
  right: 24px;
  bottom: -12px;
  list-style: none;
  font-weight: bold;
}

.tags li {
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: relative;
  margin: 1px;
  cursor: pointer;
}

.tags .marginated-tags { margin: .625em; }

.tags li {
  margin-left: 20px;
  padding: 0 10px 0 12px;
  background-color: rgba(196, 60, 70, .75);
  color: #fff;
  text-decoration: none;
  -moz-border-radius-bottomright: 4px;    -webkit-border-bottom-right-radius: 4px;    border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;    -webkit-border-top-right-radius: 4px;    border-top-right-radius: 4px;
}

.tags li:before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 0; height: 0;
  border-color: transparent rgba(196, 60, 70, .75) transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0;
}

.tags li:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  float: left;
  width: 4px;
  height: 4px;
  -moz-border-radius: 2px;    -webkit-border-radius: 2px;    border-radius: 2px;
  background: #fff;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.tags li:hover { background-color: rgba(196, 60, 70, .55); }

.tags li:hover:before { border-color: transparent rgba(196, 60, 70, .55) transparent transparent; }

#tags-collection {
  width: 90%; height: auto;
  margin: .5em auto;
  padding: .75em;
  display: none;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

select{
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand { /* for IE 11 */
  display: none;
}

#osvit-gallery .dropdown-menu > li > a{
  color: rgba(0, 0, 0, 1) !important;
}